---
import Layout from '../layouts/Layout.astro';
import dataCon from '../datas/conhecimentos.json';
import dataCur from '../datas/cursos.json';
import dataExp from '../datas/pt_experiencias.json';
import dataAbout from '../datas/pt_about.json';

// Functions
function getClassCur(item) {
	return (dataCur.length != item + 1) ? true : false;
}

function isLast(item) {
	return (dataCur.length == item + 1) ? true : false;
}

function isLastExp(item) {
	return (dataExp.length == item + 1) ? true : false;
}
---

<Layout title="xpcassio - Home">
	<div class="container">
		<div class="row">
			<!-- SOBRE MIM -->
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="new-header">
					<hr/>
					<h3>Sobre mim</h3>
				</div>
				<p class="text-justify mb-0">
					{dataAbout.about}
				</p>
			</div>

			<!-- CONHECIMENTO -->
			<div class="col-12 col-lg-10 offset-lg-1 mt-5">
				<div class="new-header">
					<hr/>
					<h3>Conhecimentos</h3>
				</div>

				{dataCon.map((con) => <img src={con.link} class="mb-2 mr-2" alt=""> )}
			</div>

			<!-- EXPERIENCIAS -->
			<div class="col-12 col-lg-10 offset-lg-1 mt-5">
				<div class="new-header clearfix">
					<hr/>
					<h3>Experiências Profissionais</h3>
				</div>

				{dataExp.map((exp, i) =>
					<dl class:list={["row", {'mb-0': isLastExp(i)}]}>
						<dt class="col-12 col-sm-3 col-lg-2">{exp.ano}</dt>
						<dd class="col-12 col-sm-9 col-lg-10 mb-0">
							<strong class="clearfix">{exp.empresa}</strong>
							<small class="text-muted">{exp.funcao}</small>
							<p class="mb-0 mt-2">{exp.descricao}</p>
						</dd>
					</dl>
				)}
			</div>

			<!-- CURSOS -->
			<div class="col-12 col-lg-10 offset-lg-1 mt-5">
				<div class="new-header clearfix">
					<hr/>
					<h3>Cursos</h3>
				</div>

				<div class="row">
					{dataCur.map((cur, i) =>
						<div class="col-12 col-md-6 col-lg-4">
							<dl class:list={[{'mb-3': getClassCur(i), 'mb-0': isLast(i)}]}>
								<dd class="mb-0">
									<strong class="clearfix">{cur.nome}</strong>
									<small class="text-muted clearfix">{cur.onde}</small>
									<Fragment set:html={cur.status}></Fragment>
								</dd>
							</dl>
						</div>
					)}
				</div>
			</div>

			<!-- EDUCAÇAO -->
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="row">
					<div class="col-12 col-lg-8 my-5">
						<div class="new-header">
							<hr/>
							<h3>Educação</h3>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<address class="new-educacao">
									<h4 class="text-muted">Bacharel em Ciência da computação</h4>
									CESUPA • Centro Universitário do Estado do Pará<br>
									<strong>Graduação</strong>. 2008 – 2012<br>
								</address>
							</div>
							<div class="col-12 col-md-6">
								<address class="new-educacao mb-0">
									<h4 class="text-muted">Especialização web management</h4>
									IESAM • Instituto de Ensino Superiores da Amazônia<br>
									<strong>Pós-Graduação</strong>. 2012 – 2013<br>
								</address>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4 mb-5 mt-lg-5">
						<div class="new-header">
							<hr/>
							<h3>Idiomas</h3>
						</div>
						<address class="new-educacao mb-0">
							<h4 class="text-muted">Inglês</h4>
							ILAC • International Language Academy of Canada<br>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
