---
import { Image } from 'astro:assets';
import { stack, stack_header_default, stack_header_en } from '@datas/stacks.astro';

// Internacionalization
let header;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en')
	header = stack_header_en;
else
	header = stack_header_default;
---
<div class="col-12 col-lg-10 offset-lg-1 mt-5">
    <div class="new-header">
        <hr class="d-print-none"/>
        <h3>{header}</h3>
    </div>

    {stack.map((con, index) =>
        <Image src={con.shield} class="mb-2 mr-2 d-print-none" alt={con.name} inferSize={true} loading="eager" />
        <span class="d-none d-print-inline">{con.name}{index < stack.length - 1 ? ", " : ""}</span>
    )}
</div>